<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieRatingCalculatorEntities" connectionString="metadata=res://*/MovieRatingCalculatorModel.csdl|res://*/MovieRatingCalculatorModel.ssdl|res://*/MovieRatingCalculatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARGARET-PC\SQLEXPRESS;initial catalog=MovieRatingCalculator;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>