<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieRatingCalculatorEntities" connectionString="metadata=res://*/MovieRatingCalculatorModel.csdl|res://*/MovieRatingCalculatorModel.ssdl|res://*/MovieRatingCalculatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARGARET-PC\SQLEXPRESS;initial catalog=MovieRatingCalculator;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="MovieRatingCalculatorEntities" connectionString="metadata=res://*/MovieRatingCalculatorModel.csdl|res://*/MovieRatingCalculatorModel.ssdl|res://*/MovieRatingCalculatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.180.88.239;initial catalog=MovieRatingCalculator.Staging;integrated security=False;User ID=Margarita;Password=Finiki1992#@!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MovieRatingCalculatorEntities" connectionString="metadata=res://*/MovieRatingCalculatorModel.csdl|res://*/MovieRatingCalculatorModel.ssdl|res://*/MovieRatingCalculatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.180.88.239;initial catalog=MovieRatingCalculator;integrated security=False;User ID=Margarita;Password=Finiki1992#@!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
</configuration>